* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.car-details-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 85vh;
  gap: 50px;
  overflow-y: scroll;
}

.car-details-img {
  width: 70%;
}

.big-image {
  width: 100%;
  border-radius: 10px;
}

.car-details-info {
  font-weight: bold;
  width: 30%;
}

.car-details-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.car-details-infos {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 12px;
  background-color: #5dcd3e;
  border-radius: 0.5rem;
  color: #fff;
}

.btn-res {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #5dcd3e;
  text-decoration: none;
  border-radius: 1rem;
  color: #000;
}

@media (max-width: 1100px) {
  .car-details-container {
    flex-direction: column;
  }

  .car-details-info {
    width: 70%;
  }
}
