* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.home-page-text {
  color: #a2a4a4;
  font-weight: bold;
}

.cars-container {
  display: flex;
  gap: 150px;
  margin: 0;
  padding: 0;
}

.cars-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cars-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-link {
  text-decoration: none;
  color: #000;
}

.circle-color {
  width: 18rem;
  height: 18rem;
  background-color: #00b7ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cars-image {
  height: 90%;
  width: 90%;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}

.cars-card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.dots {
  color: #d3d4d4;
  font-size: 24px;
}

.car-details {
  font-size: 12px;
  color: #a2a4a4;
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -260px;
}

.carousel-container {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

.btn-cr {
  width: 50px;
  height: 40px;
  border-radius: 0 50% 50% 0;
  background-color: #97bf0f;
  border: none;
  color: #fff;
}

.btn-cr2 {
  width: 50px;
  height: 40px;
  border-radius: 50% 0 0 50%;
  background-color: #97bf0f;
  border: none;
  color: #fff;
}

.cars-container .cars-list {
  display: none; /* Hide all li elements by default */
}

.cars-container .cars-list:nth-child(-n + 1) {
  display: flex;
}

/* Show all li elements on large screens and above */
@media (min-width: 1680px) {
  .cars-container .cars-list {
    display: flex;
  }
}

@media (min-width: 991px) {
  .cars-container .cars-list:nth-child(-n + 2) {
    display: flex;
  }
}
